html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.block {
  height: 100%;
  display: flex;
}

.search {
  width: 30%;
  max-height: 100%;
  overflow: auto;
}

.search input {
  margin: 10px 20px;
  width: calc(100% - 40px);
  height: 28px;
}

.search ul li {
  list-style-type: none;
  margin: 0 0 0 20px;
  line-height: 1.2;
}

.search ul {
  height: 100%;
  margin: 0;
  padding: 0;
}

.map {
  width: 70%;
  height: 100%;
}



@media screen and(min-width: 720px) {
  body {}
}

@media screen and ()